﻿<div id="header" ng-controller="postsCtrl">
    <!-- Header Colors -->
    <div class="row">
        <div class="col-md-12 col-sm-12  clearfix top-colors">
            <div class="top-color top-color1"></div>
            <div class="top-color top-color2"></div>
            <div class="top-color top-color3"></div>
            <div class="top-color top-color1"></div>
        </div>
    </div>
    <!-- /Header Colors -->
    <div class="row">
        <div class="social-icons">
            <a href="https://uk.linkedin.com/in/houghtonjoe" target="_blank" class="btn btn-sm btn-linkedin"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/joehoughton" target="_blank" class="btn btn-sm btn-github"><i class="fa fa-github"></i></a>
            <a href="https://www.instagram.com/houghtonjoe/" target="_blank" class="btn btn-sm btn-instagram"><i class="fa fa-instagram"></i></a>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ng-href="#/">
                    <h1 class="intro-title">Joe Houghton <span class="color1 bold">| Blog</span></h1>
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a ng-href="#/posts" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a ng-href="#/posts/add" ng-if="userData.isUserLoggedIn">Create Post<i class="fa fa-plus-circle fa-fw pull-right"></i></a></li>
                            <li role="separator" class="divider"></li>
                            <li ng-repeat="category in Categories"><a ng-href="#/posts/category/{{category.Id}}">{{category.Name}}<span class="pull-right">({{category.Count}})</span></a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a ng-href="#/register" ng-if="!userData.isUserLoggedIn">Register</a></li>
                            <li><a ng-href="#/login" ng-if="!userData.isUserLoggedIn">Sign in</a></li>
                            <li><a ng-click="logout();" ng-if="userData.isUserLoggedIn">Sign out</a></li>
                        </ul>
                    </li>
                    <li><a href="http://houghtonjoe.com" id="portfolio">Portfolio</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>