﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="HoughtonJoeBlog">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joe Houghton | Blog</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" href="../../Content/images/profile-picture.png" type="image/x-icon">
    <link rel="icon" href="../../Content/images/profile-picture.png" type="image/x-icon">
</head>
<body ng-controller="rootCtrl">

<div id="content-body" class="container">
    <div class="row">
        <div class="col-md-10 col-sm-10 col-md-offset-2 col-sm-offset-1 resume-container">
            <top-bar></top-bar>
            <div class="page {{ pageClass }}" ng-view></div>
        </div>
        <div class="col-md-10 col-sm-10 col-md-offset-2 col-sm-offset-1 footer-container">
            <footer-bar></footer-bar>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/vendors")
@Scripts.Render("~/bundles/spa")
</body>
</html>
