﻿/* ==========================================================
! 1. Main
========================================================== */
  body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #000;
    background-image: url('../images/background.png');
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-color: #000000;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative !important;
  }
   @media (min-width: 240px) and (max-width: 719px) {
    body {
      background-image: none;
    }
  }

  html, body {
    height: 100%;
  }

  .resume-container {
    background: url('../../Content/images/paper-bg2.png') no-repeat top left, url('../../Content/images/paper-bg-bot.png') no-repeat bottom right, #fafafa;
    min-height: 775px;
  }

  .footer-container {
    margin-bottom: 200px;
  }

  .color1 {
    color: darkgreen;
  }
  .color2 {
    color: #022144;
  }
  .color3 {
    color: #ce5f5f;
  }

  a{
    color: #000;
    cursor: pointer;
  }

  a:hover {
    outline: none;
    text-decoration:none;
    color: darkgreen;
  }

  a:focus {
    outline:none;
    outline-offset: 0;
  }

  a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
  }

  ul {
    list-style: none;
  }

  .bold {
    font-weight: bold;
  }

  h1, h2 {
    color: darkgreen;
    
  }
  h3 {
    color: #022144;
  }

/* Scroll Bar*/
.nicescroll-rails {
  z-index: 9999 !important;
}

/* Validation Errors */
.has-error .control-label {
  color: #022144 !important;
}

/* Header */
#content-body {
  position: relative;
}

@media (max-width:767px) {
  #content-body {
    margin: 10px;
  }
}
@media (min-width:992px) {
  #content-body {
    margin-top: 45px;
    position: relative;
  }
}

.intro-title {
  background-color: transparent;
  font-size: 22px;
  color: #444444;
  letter-spacing: -1pt;
  border-bottom: 1px solid darkgreen;
  font-weight: 200;
  margin-top: 20px !important;
  padding-bottom: 10px !important;
  text-align: center;
}
@media (min-width: 420px) {
  .intro-title {
    text-align: left;
    font-size: 33px;
    margin: 3px !important;
  }
}
@media (min-width: 768px) {
  .intro-title {
    text-align: left;
    font-size: 34px;
    margin-top: 5px !important;
  }
}
@media (min-width:992px) {
  .intro-title {
    margin-top: 0 !important;
    font-size: 54px;
  }
}
 .uppercase{
    text-transform: uppercase;
  }

  .btn-common {
    font-size: 14px;
    color: #0099ae;
    border: 1px solid #0099ae;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 10px 25px;
  }

  #action .col-sm-5{
    position: absolute;
    top: 0;
    height: 100%;
    right: 0;
  }

  .btn-common:hover, 
  .btn-common:focus{
    outline: none;
    background: none;
    box-shadow: none;
    color: #01707f;
    border-color:#01707f;
  }

  .align-right{
    text-align: right;
  }

  .inline{
    display: inline-block;
  }

  .padding{
    padding: 65px 0;
  }
  .padding-bottom{
    padding-bottom: 65px;
  }
  .padding-top{
    padding-top: 90px;
  }
  .padding-right{
    padding-right: 80px;
  }
  .padding-left{
    padding-left: 80px;
  }

  .margin-bottom{
    margin-bottom: 35px;
  }

   .carousel-indicators.visible-xs {
     height: 20px;
     margin: 0;
     padding: 0;
     position: absolute;
     top: -35px;
     width: 100%;
     left: 0;
    }
  .carousel-indicators.visible-xs li {
    border-color: #D29948;
    border-width: 2px;
    height: 12px;
    margin: 0 5px 0 0;
    width: 12px;
  }

  .carousel-indicators.visible-xs li.active {
    background: rgba(210, 153, 72, 0.7);
  }

/* ==========================================================
! 2. Header
========================================================== */
.top-colors {
  padding: 0 !important;
}
.top-color {
  height: 8px;
  width: 25%;
  float: left;
  background: darkgreen;
}
.top-color1 {
  background: darkgreen;
}
.top-color2 {
  background: #022144;
}
.top-color3 {
  background: #ce5f5f;
}

#header{
  margin-bottom: 10px;
}
@media (min-width:992px) {
  #header {
    margin-bottom: 40px;
  }
}

.btn-sm {
  background: #022144;
  color: #fafafa;
  border: #022144;
}
.btn-sm:hover {
  background: #194368 !important;
  color: #fafafa;
}

.social-icons {
    float: right;
    padding: 5px 10px;
}
.btn-github {
  background-color: #ff9933;
}
.btn-linkedin {
  background-color: #0077B5;
}
.btn-instagram {
  background-color: #A67B5C;
}

#header .navbar {
  background: transparent;
  border: 0;
  margin-bottom: 0;
}
#header .navbar-toggle{
  margin-top: 20px;
}
#header .navbar-brand{
  padding: 0;
  margin-left: 0;
}
#header .navbar-brand h1{
  padding: 0;
  margin: 0;
}
#header .navbar-nav.navbar-right >li:last-child{
  margin-right: 20px;
}
#header .navbar-nav.navbar-right >li a {
  color: #000;
  font-size: 12px;
  padding: 20px;
  text-transform: uppercase;
  font-weight: 300;
}
#header .navbar-nav li.active > a,  
#header .navbar-nav li.active > a:focus, 
#header .navbar-nav.navbar-right li > a:hover,
.navbar-nav > .open > a {
  background-color: inherit;
  border: 0;
}
#header .navbar-nav  li a:hover{
  background-color: darkgreen !important;
  color: white;
}
#header .navbar-nav  li a.dropdown-toggle, a.dropdown-toggle:hover{
  background-color: transparent !important;
  color: #000;
}
#header .navbar-nav  li #portfolio:hover{
  background-color: transparent !important;
  color: #000;
}
.navbar-default .navbar-nav>li>a 
{
  background-color: transparent !important;
  color: #000;
}
#header .navbar-default .navbar-nav>.open>a,
 .navbar-default .navbar-nav>.open>a:focus,
 .navbar-default .navbar-nav>.open>a:hover{
  background-color: white;
  color: #000;
}
#header .navbar-default .navbar-collapse, .navbar-default.navbar-form {
  border: 0;
}
#header .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
#header .navbar-default .navbar-toggle {
    border-color: transparent;
}

@media (min-width: 768px) {
  /* open on hover*/
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
  #header .nav.navbar-nav {
    padding-left: 20px;
  }
}

@media (min-width: 1200px) {
  #header .nav.navbar-nav {
    padding-left: 40px;
  }
}

/* ==========================================================
! 3. Footer
========================================================== */
#footer {
  background: #ce5f5f;
  color: #fff;
  padding-top: 17px;
  padding-bottom: 17px;
  text-align: center;
}

#footer p {
  color: #fff;
}
#footer .quote {
  font-size: 22px;
  font-weight: 200;
  margin-bottom: 5px;
}
#footer .author {
  font-size: 14px;
  font-weight: bold;
}

/* ==========================================================
! 4. Dropdown Menu
========================================================== */
ul.sub-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

#header .navbar-nav li ul.sub-menu li a{
  color: #818285;
  padding: 5px 10px 5px 10px;
  font-size: 13px;
  display: block;
  text-transform: capitalize;
}
#header .navbar-nav li ul.sub-menu li .active{
  background: darkgreen;
  color: #fff;
  position: relative;
}
#header .navbar-nav li ul.sub-menu li .active i{
  position: absolute;
  font-size: 56px;
  top: -13px;
  color: darkgreen;
}
#header .navbar-nav li ul.sub-menu li .active .fa-angle-right{
  left: -3px;
}
#header .navbar-nav li ul.sub-menu li .active .fa-angle-left{
  right: -3px;
}
#header .navbar-nav li ul.sub-menu li a:hover,
#header .navbar-nav li ul.sub-menu li a:focus{
  background: darkgreen;
  color: #fff;
}

.fa-angle-down{
  padding-left: 5px; 
}

.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}

@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

/* ==========================================================
! 5. Pagination
========================================================== */
.pagination {
    position: relative;
}
.pagination li{
  display: inline-block !important;
  margin: 0 10px !important;
}
.pagination li a{
  color: #000 !important;
  padding: 5px 10px !important;
  border-radius: 5px !important;
  border: 1px solid #fff !important;
}
.pagination li:first-child a{
  background: url(../images/pagination/left.png);
  background-repeat: no-repeat;
  text-indent: -999999999px;
  background-position: center top 10px;
  width: 32px;
  height: 36px;
  border: none;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.pagination li:first-child a:hover{
  background: url(../images/pagination/left.png);
  background-position: center top -37px;
  background-repeat: no-repeat;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.pagination li:last-child a{
  background: url(../images/pagination/right.png);
  background-repeat: no-repeat;
  text-indent: -999999999px;
  background-position: center top 10px;
  width: 32px;
  height: 36px;
  border: none;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.pagination li:last-child a:hover{
  background: url(../images/pagination/right.png);
  background-position: center top -37px;
  background-repeat: no-repeat;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background: transparent !important;
  border-color: darkgreen !important;
  color: darkgreen !important;
  border-radius: 5px;
}

/* ==========================================================
! 6. Sidebar tags
========================================================== */
.sidebar h3 {
  color: #404040;
  margin-top: 0;
  border-bottom: 3px solid #ececec;
  margin-bottom: 6px;
  padding-bottom: 8px;
}
.sidebar-item{
  margin-bottom: 48px;
}
.categories .navbar-stacked li {
  border-bottom: 1px solid #ececec;
}
.categories .navbar-stacked li:last-child {
  border-bottom: 0 solid #ececec;
}
.categories .navbar-stacked li a {
  font-size: 16px;
  color: #6a6a6a;
  padding: 8px 0;
  padding-left: 0;
}
.categories .navbar-stacked li a:hover{
  background: none;
  margin-left: 20px;
  color: #022144;
  opacity: 1;
}
.categories .navbar-stacked li.active a{
  color: #022144;
  padding-left: 20px;
}
.categories .navbar-stacked li.active a:before{
  position: absolute;
  content: "";
  border-color: transparent transparent transparent #022144;
  border-width: 8px;
  border-style: solid;
  left: 0;
  top: 13px;
  margin-top: 0;
  z-index: 0;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}
.categories .navbar-stacked li.active a:after {
  position: absolute;
  content: "";
  border-color: transparent transparent transparent #fff;
  border-width: 6px;
  border-style: solid;
  left: 0;
  top: 15px;
  margin-top: 0;
  z-index: 1;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}

.tag-cloud .nav-pills{
  margin-top: 16px;
}
.tag-cloud .nav-pills li{
  margin: 0;
  margin-top: 6px;
  margin-right: 4px;
}
.tag-cloud .nav-pills li a{
  font-size: 14px;
  font-weight: 300;
  padding: 5px 15px;
  background: #bbbbbb;
  color: #fff;
  border-radius: 3px;
}
.tag-cloud .nav-pills li a:hover{
  background: #022144;
}

.tag-cloud .nav-pills li .active{
  background: #022144;
}
/* ==========================================================
! 7. Post List
========================================================== */
.post-item {
  padding-bottom: 45px;
}
.post-title {
  color: #022144;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 14px;
}
.post-time {
  font-size: 14px;
  font-weight: bold;
  color: #999999;
}
.post-date {
  font-size: 14px;
  font-style: italic;
  font-weight: 200;
}
.post-description {
  font-size: 14px;
  margin-bottom: 5px;
}
.post-description p {
  font-size: 13px;
  line-height: 19px;
  margin-bottom: 3px;
}
.post-bottom {
  font-size: 13px;
}
/* ==========================================================
! 8. Blog with right sidebar
========================================================== */
.sidebar-title {
  color: darkgreen;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 14px;
}
.post-nav{
  margin:0;
  padding: 0;
}
.post-nav li a{
  color: #022144;
  padding: 0;
}
.post-nav li a i{
  color: #022144;
}
.post-nav li a:hover{
  background: none;
  color: darkgreen;
}
.post-nav.navbar-collapse.collapse {
display: block!important;
}

.post-nav.navbar-nav>li, .navbar-nav {
float: left !important;
}

.post-nav.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.post-nav.navbar-right {
float: right!important;
}

.blog-padding-right{
  padding-right:35px;
}
.blog-pagination {
  text-align: center;
}

.masonery_area .single-blog .post-thumb{
  height: auto;
}
.masonery_area .single-blog .post-title{
  margin-top: 5px;
}
.masonery_area .single-blog .post-title a{
  font-size: 20px;
}
.masonery_area .single-blog .post-thumb img{
  height:auto;
}
.masonery_area .single-blog .post-bottom{
  border-top:0;
  padding-top:0;
  margin-top:15px;
}

/* ==========================================================
! 9. Blog Details
========================================================== */

.navbar-nav.post-nav li{
  margin-right: 60px;
}
.single-blog.blog-details .post-content{
  padding-top: 30px;
}
.single-blog.blog-details .post-bottom{
  margin-top: 55px;
}

.blog-share{
  margin-top: 40px;
  background: #f5f5f5;
  display: inline-block;
  padding: 2px 0;
}

span.stMainServices,
span.stButton_gradient, 
.stButton .chicklets{
  height:24px !important;
}

.author-profile.padding{
  padding-top:50px;
}
.author-profile .col-sm-2 img{
  width: 100%;
  border-left: 3px solid #0099AE;
}
.author-profile h3{
  margin-top:0;
  color: #3a424c;
}
.author-profile p{
  color: #3a424c;
  font-weight: 400;
}
.author-profile span a{
  color: #C03035;
}

.response-area{
  border-bottom: 0;
}
.response-area h2{
  margin-top: 0;  
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 20px;
}

.post-comment{
  padding-left: 70px;
  padding-top: 36px;
  border-top: 1px solid #f1e8dd;
}
.post-comment .pull-left img{
  margin-right: 60px;
  border-left: 3px solid #0884d5;
}
.post-comment .media-body{
  padding-top: 6px;
  border-bottom: 0;
  padding-bottom: 50px;
}
.post-comment .media-body p{
  margin-top:10px;
}
.post-comment .media-body span i{
  color: #C03035;
  margin-right: 10px;
}
.post-comment .media-body span a{
  color: #C03035;
  font-weight: 700;
}
.post-comment .media-body .post-nav li a{
  font-weight: 300;
}
.parrent .media-list{
  margin-left: 190px;
}
.parrent .post-comment{
  padding-left: 0;
  margin-left: 70px;
}

.amend-post{
  font-size: 14px;
  font-weight: bold;
  color: #999999;
  cursor: pointer;
}
/* ==========================================================
! 10. Responsive
========================================================== */
  @media only screen and (min-width : 768px) {
  .nav.navbar-nav > li:hover > ul.sub-menu{
    display: block;
    -webkit-animation: fadeInUp 400ms;
    animation: fadeInUp 400ms;
  }

  ul.sub-menu {
    position: absolute;
    top: 60px;
    left: 0;
    background: #fff;
    padding: 10px 0;
    width: 239px;
    box-shadow: none;
    display: none;
    z-index: 999;
    border: 1px solid darkgreen;
  }

  #header .navbar-nav li ul.sub-menu li a {
    padding-left: 20px;
  }
}

/*md only*/
@media (min-width: 992px) and (max-width: 1199px) { }

/*sm only*/
@media (min-width: 768px) and (max-width: 991px) {
  .col-sm-4.portfolio-item{
    width: 33%;
  }
}

/* md */
@media only screen and (max-width : 1200px) { }

/* sm */
@media only screen and (max-width : 992px) {

  h1{
    font-size: 25px;
  }
  .nav.navbar-nav.post-nav li{
    display: inline-block;
    margin-right: 15px;
  }

  .masonery_area .nav.nav-justified.post-nav li {
    display: table-cell;
  }

  /* Blog */
  .post-comment {
    padding-left: 0;
  }

  .post-comment .pull-left img {
    margin-right: 20px;
  }

  .parrent .post-comment {
    margin-left: 0;
  }

  .parrent .media-list {
    margin-left: 150px;
  }

  .single-blog.two-column .post-overlay{
    margin-top: 0;
  }
}

/* xs */
@media only screen and (max-width : 768px) {
  h1{
    font-size: 22px;
  }

  h2{
    font-size:20px;
  }
  .padding{
    padding: 30px 0;
  }
  #header {
    padding-top: 0;
  }
  #header .navbar-inverse .navbar-toggle,
  #header .navbar-inverse .navbar-toggle:focus {
    border-color: darkgreen;
    margin-top: 15px;
    margin-right: 5px;
    outline: none;
  }
  .navbar-header .navbar-toggle .icon-bar {
    background-color: darkgreen;
  }
  #header .navbar-inverse .navbar-toggle:hover {
    background: darkgreen;
  }
  #header .navbar-inverse .navbar-toggle:hover .icon-bar {
    background: #fff;
  }
 
  .navbar-inverse .navbar-collapse,
  .navbar-inverse .navbar-form {
    border-top: 0;
  }
  #header .navbar-nav.navbar-right li > a > i {
    display: inline-block;
    float: right;
    padding: 5px 10px 5px 10px;
  }
  #header .navbar-nav.navbar-right li > a {
    padding: 10px 0;
  }
  #header .navbar-nav li ul.sub-menu li a {
    padding: 5px 10px;
  }
  #header .navbar-inverse .navbar-nav li.active > a, 
  #header .navbar-inverse .navbar-nav li.active > a:focus, 
  #header .navbar-nav.navbar-right li > a:hover {
    border: none;
  }

  /* Blog */
  .arrow-right:after {
    background: none ;
  }
  .arrow-left:before {
    background: none;
  }

  .col-sm-6.padding-right.arrow-right{
    padding-right: 15px;
  }
  .col-sm-6.padding-left.padding-top.arrow-left {
    margin-bottom: 70px;
    padding-left: 15px;
  }

  .blog-padding-right {
    padding-right: 15px;
  }

  .nav.nav-justified.post-nav li, 
  .nav.navbar-nav.post-nav li{
    display: inline-block;
    margin-right: 15px;
  }
}

/* ==========================================================
! 11. Sign in form
========================================================== */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Sign in button*/
.btn-dark-blue {
    background: #022144;
    box-shadow: none;
    color: #ffffff !important;
}
.btn-dark-blue:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #083257;
    box-shadow: none;
    color: #ffffff !important;
}
.btn-dark-blue:active, .btn-dark-blue.active {
    background: #022144;
    box-shadow: none;
    color: #ffffff !important;
}

#register-link {
  color: #000;
}
#register-link:hover {
  color: darkgreen;
}

/* ==========================================================
! 12. Autocomplete
========================================================== */
.angucomplete-dropdown {
    overflow-y: auto;
    max-height: 200px;
}
.angucomplete-holder {
    position: relative;
}
.angucomplete-dropdown {
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 250px;
    padding: 6px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    margin-top: -6px;
    background-color: #ffffff;
}
.angucomplete-searching {
    color: #acacac;
    font-size: 14px;
}
.angucomplete-description {
    font-size: 14px;
}
.angucomplete-row {
    padding: 5px;
    color: #000000;
    margin-bottom: 4px;
    clear: both;
}
.angucomplete-selected-row {
    background-color: lightblue;
    color: #ffffff;
}
.angucomplete-image-holder {
    padding-top: 2px;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
}
.angucomplete-image {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border-color: #ececec;
    border-style: solid;
    border-width: 1px;
}
.angucomplete-image-default {
    background-position: center;
    background-size: contain;
    height: 34px;
    width: 34px;
}
.angucomplete-dropdown {
    width: 100%;
    border-color: #ccc;
}
.red {
    color: red;
}
/* ==========================================================
! 13. Loading Spinner
========================================================== */
.spinner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  text-align: center;
  z-index: 1000;
  overflow: auto;
}

#spinner-image {
  width: 100px;
  height: 100px;
}

.custom-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}