﻿<div class="row">
    <div class="col-xs-12">
        <div class="alert alert-warning alert-dismissable">
            <a class="panel-close close" data-dismiss="alert">×</a>
            <i class="fa fa-plus"></i> Create a blog post. Make sure you fill all required fields.
        </div>

        <form class="form-horizontal" role="form" novalidate angular-validator name="addPostForm" angular-validator-submit="addPost()">

            <div class="form-group">
                <div class="col-xs-12">
                    <label class="control-label">Title</label>
                    <input class="form-control" name="Title" type="text" ng-model="post.Title" placeholder="Title"
                           validate-on="blur" required required-message="'Title is required'">
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-6 col-sm-6">
                    <label class="control-label">Category</label>
                    <div angucomplete-alt
                         id="categories"
                         minlength="1"
                         placeholder="Search categories..."
                         pause="200"
                         selected-object="selectedCategoryId"
                         remote-url="/api/categories?filter="
                         remote-url-data-field=""
                         title-field="Name"
                         description-field=""
                         input-class="form-control form-control-small"
                         match-class="red"
                         text-searching="Searching categories.."
                         text-no-results="No categories found matching your search.">
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6">
                    <label class="control-label">Tag</label>
                    <div angucomplete-alt
                         id="tags"
                         minlength="1"
                         placeholder="Search tags..."
                         pause="200"
                         selected-object="selectedTagId"
                         remote-url="/api/tags?filter="
                         remote-url-data-field=""
                         title-field="Title"
                         description-field=""
                         input-class="form-control form-control-small"
                         match-class="red"
                         text-searching="Searching tags.."
                         text-no-results="No tags found matching your search.">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">
                    <label class="control-label">Description</label>
                    <textarea class="form-control" ng-model="post.Description" name="Description" rows="3" placeholder="Description"
                              validate-on="blur" required required-message="'Description is required'" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">
                    <label class="control-label">Source Code</label>
                    <textarea class="form-control" ng-model="post.SourceCode" name="sourceCode" rows="3" placeholder="Source Code (optional)" />
                </div>
            </div>

            <br/>

            <div class="form-group pull-right">
                <div class="col-xs-12">
                    <a class="btn btn-danger" ng-click="redirectToHome();">Cancel</a>
                    <input type="submit" class="btn btn-dark-blue" value="Submit" ng-disabled="!isEnabled" />
                </div>
            </div>
        </form>
    </div>
</div>