﻿<div class="row" ng-if="!loadingPost">
    <div class="col-xs-12">
        <a class="post-title" ng-href="#/posts/{{post.Id}}">{{post.Title}}</a>
        <h4 class="post-time"><i class="fa fa-calendar-o"></i> {{post.DateCreated | date:'longDate'}} - <span class="post-date">{{post.DateCreated | date:'shortDate'}} -</span> 
            <a href="#/posts/edit/{{post.Id}}" ng-if="userData.isUserLoggedIn" class="amend-post"> Edit</a>
            <span ng-click="deletePost();" ng-if="userData.isUserLoggedIn" class="amend-post">| Delete</span>
        </h4>
        <div class="post-description">
            <p>{{post.Description}}</p>
        </div>
        <div class="post-bottom">
            <ul class="nav navbar-nav post-nav" ng-repeat="tag in post.Tags">
                <li><a ng-href="#/posts/tags/{{tag.Id}}"><i class="fa fa-tag"></i>{{tag.Title}}</a></li>
            </ul>
        </div>

        <form class="form-horizontal" role="form" name="postDetailForm">
            <div class="form-group">
                <div class="col-xs-12">
                    <div ng-if="!post.SourceCode">
                        <input class="form-control readonly-cursor" type="text" placeholder="Method" value="No source code added" readonly>
                    </div>
                    <div ng-if="post.SourceCode">
                        <!-- Set brush for Syntax Highlighter -->
                        <pre id="sourceCode" class="brush: csharp">{{post.SourceCode}}</pre>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">
                    <button type="button" class="btn btn-dark-blue pull-right" ng-click="navigateToHome();">Return</button>
                </div>
            </div>
        </form>
    </div>
</div>
