﻿<div class="row">
    <div class="col-xs-12">
        <div class="alert alert-warning alert-dismissable">
            <a class="panel-close close" data-dismiss="alert">×</a>
            <i class="fa fa-plus"></i> Update post. Make sure you fill all required fields.
        </div>

        <form class="form-horizontal" role="form" novalidate angular-validator name="updatePostForm" angular-validator-submit="updatePost()">
            <div class="form-group">
                <div class="col-xs-12">
                    <label class="control-label">Title</label>
                    <input class="form-control" name="Title" type="text" ng-model="post.Title" placeholder="Title" validate-on="blur" required required-message="'Title is required'">
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">
                    <label class="control-label">Description</label>
                    <textarea class="form-control" ng-model="post.Description" name="Description" rows="3" placeholder="Description" validate-on="blur" required required-message="'Description is required'" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">
                    <label class="control-label">Source Code</label>
                    <textarea class="form-control" ng-model="post.SourceCode" name="sourceCode" rows="3" placeholder="Source Code (optional)" />
                </div>
            </div>

            <br/>

            <div class="form-group pull-right">
                <div class="col-xs-12">
                    <a class="btn btn-danger" ng-click="redirectToPost();">Cancel</a>
                    <input type="submit" class="btn btn-dark-blue" value="Submit"/>
                </div>
            </div>
        </form>
    </div>
</div>