﻿<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-9">
        <div ng-if="!loadingPosts && !Posts.length" class="text-center">
            <h3>No posts available</h3>
        </div>
        <div ng-if="loadingPosts">
            <div id="spinner" class="spinner-container">
                <img id="spinner-image" src="../../../Content/images/spinners/spinner.gif" alt="Loading"/>
            </div>
        </div>
        <div ng-repeat="post in Posts" ng-if="!loadingPosts">
            <div class="post-item">
                <a class="post-title" ng-href="#/posts/{{post.Id}}">{{post.Title}}</a>
                <h4 class="post-time"><i class="fa fa-calendar-o"></i> {{post.DateCreated | date:'longDate'}} - <span class="post-date">{{post.DateCreated | date:'shortDate'}}</span></h4>
                <div class="post-description">
                    <p>{{post.Description | cut:true:120:' ...'}}</p>
                </div>
                <a ng-href="#/posts/{{post.Id}}" class="read-more">View More</a>
                <div class="post-bottom">
                    <ul class="nav navbar-nav post-nav" ng-repeat="tag in post.Tags">
                        <li><a ng-href="#/posts/tags/{{tag.Id}}"><i class="fa fa-tag"></i>{{tag.Title}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <br />
        <!-- pagination -->
        <div class="blog-pagination col-sm-offset-4 col-md-offset-4" ng-if="!loadingPosts">
            <custom-pager page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="search(page)" style="position: relative !important"></custom-pager>
        </div>
    </div>

    <div class="col-xs-12 col-sm-5 col-md-3">
        <div class="sidebar blog-sidebar">
            <div class="sidebar-item categories">
                <a class="sidebar-title">Categories</a>
                <ul class="nav navbar-stacked" ng-repeat="category in Categories">
                    <li ng-class="{active: category.Id==categoryId}"><a ng-href="#/posts/category/{{category.Id}}">{{category.Name}}<span class="pull-right">({{category.Count}})</span></a></li>
                </ul>
            </div>
            <div class="sidebar-item tag-cloud">
                <a class="sidebar-title">Tags</a>
                <ul class="nav nav-pills">
                    <li ng-repeat="tag in Tags"><a ng-href="#/posts/tags/{{tag.Id}}" ng-class="{active: tag.Id==tagId}">{{tag.Title}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
